name: Build Kernel

on:
  push:
  workflow_dispatch:

jobs:
  build:
    name: Build Kernel
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Source
      uses: actions/checkout@v4

    - name: Building
      run: |
        sudo apt install device-tree-compiler -y
        bash build.sh
